body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}
.des{
  color:#66BFBF;
  font-weight: normal;
}
h1 {
  font-size: 70px;
  margin-top: 0 ;
  font-family: 'Sacramento',cursive;
  color: #66BFBF;

}
h2{
  font-family: 'Montserrat',sans-serif;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat',sans-serif;
  color: #11999E;
}
hr{
  border: dotted #11999E 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
.top-container {
  background-color: #E4F9F6;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skill-row{
  width:25%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.code{
  width: 30%;
  float: right;
  margin-left:  30px;
}
.piano{
  width: 25%;
  float: left;
  margin-right: 30px;
}
